<h4>Event Bind Example</h4>
<div class = "d-flex flex-column gap-2 w-25">
 <div class = "d-flex gap-2 align-iteams-center">
    <button 
    (click)="decrementTimes()"
    class = "btn btn-primary btn-sm flex-grow-1"> - </button>


    <span>{{ times }} </span>

    <button
    (click)="incrementTimes()"
      class="btn btn-primary btn-sm flex-grow-1"> + </button>

    <button
    (click) = "reset()"
    class="btn btn-primary btn-sm"> Reset </button>

 </div>

 <div class = "mt-2 d-flex-column gap-2 w-25">
  <input type = "text" class = "form-control" (input)="onUserInput($event)">
  @if(!userInput){
    <span class = '"text-danger'> No User Input</span>}
   @else {
      <span class = "text-bg-info p-2">{{userInput}} </span>
    }

 </div>

</div>